@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
body {
  background: linear-gradient(
    90deg,
    #f1ab5f 0%,
    #fc9861 6.66%,
    #ff8d63 14.62%,
    #ff8065 21.01%,
    #fe626d 27.94%,
    #f95172 35.82%,
    #f23c78 43.73%,
    #e9247f 50.26%,
    #de0388 57.46%,
    #d10093 65.12%,
    #c1009f 72.58%,
    #ae00ab 79.05%,
    #9715b8 85.95%,
    #7b28c4 92.66%,
    #5335cf 100%
  );
  font-family: 'Rubik';
  margin: 0px;
  padding: 0px;

}